<span></span>
<router-outlet></router-outlet>
<h1>
  <em>C</em>
  <em class="planet left">O</em>
  <em>S</em>
  <em>M</em>
  <em class="planet right">O</em>
  <em>S</em>
</h1>
<div>
  <mat-table [dataSource]="usersList">

    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let row of usersList"> {{row._id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
      <mat-cell *matCellDef="let row of usersList"> {{row.age}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let row of usersList"> {{row.address}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
      <mat-cell *matCellDef="let row of usersList"> {{row.company}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let row of usersList"> {{row.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row of usersList"> {{row.name}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['_id', 'age', 'address', 'company', 'email', 'name']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['_id', 'age', 'address', 'company', 'email', 'name']"></mat-row>
  </mat-table>
</div>
